body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient( #1C1C1C , #D3D3D3);
}

header {
    background-image: linear-gradient(to right, #1C1C1C , #D3D3D3);
    height: 70px;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
nav {
    margin-left: 30px;
    height: 70px;
    display: flex;
    width: 100%;
    flex-direction: row;
}
.pesquisa {
    margin-block: auto;
}
.conteudo {
    align-items: center;
    display: flex;
}
.conteudo input {
    margin-block: auto ;    
    margin-right: -35px;
    width: 500px;
    height: 40px;
    border-radius: 163px 163px 163px 163px;
    -moz-border-radius: 163px 163px 163px 163px;
    -webkit-border-radius: 163px 163px 163px 163px;
    border: 2px solid #E8E8E8;
}
.form {
    width: 500px;
    height: 40px;
    border-radius: 163px 163px 163px 163px;
    -moz-border-radius: 163px 163px 163px 163px;
    -webkit-border-radius: 163px 163px 163px 163px;
    border: 2px solid #E8E8E8;
    margin-left: 10px;
}
.logo img {
    width: 250px;
    height: 70px;
}
.menuInterativo {
    padding-right: 30px;

}
.menuInterativo ul{
        display: flex;
        justify-content: center;
        margin-left: -20px;
        list-style: none;
        font-family: 'Bebas Neue', "cursive";
        line-height: 0rem;
        color: #6E6E6E;
}
.menuInterativo ul li{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: white;
    padding: 1rem 0.3rem;
    border-radius: 1.5rem;
    width: 100%;
    transition: all 300ms 00ms ;
    margin-left: 10px;
}
.menuInterativo li:hover {
    background-color: #333333;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}
      

                             /* SLIDER */


.sli {
    margin-top: 70px;
}
.slider {
   margin: 0 auto;
   width: 98vw;
   height: 67vh;
   overflow: hidden;
   border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 2px solid #000000;
}

.slides {
    width: 400%;
    height: 100vh;
    display: flex;
}
.slide img {
    width: 100vw;
    object-fit: unset;
    height: 100vh;
}
.slides input {
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}
.manual-navigation {
    position: absolute;
    width: inherit;
    justify-content: center;
    display: flex;
    margin-top: -215px;
}
.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(Last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background-color: #333333;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}


                                /* CONTAINER */
.container {
    width: 80vw;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
}

.card ul {
    width: 100%;
    display: flex;
    flex:1;
    padding: 0;
    margin: 0;
}
.card ul li {
    width: 33%;
    height: 150px;
    list-style: none;
}
.card ul li a {
    display: flex;
    justify-content: center;
}
.card ul li a img {
    height: 140px;
    margin-top: 15px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 1px solid black;
}
.card ul li:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: 1s;

}
                   /*CONTAINER PRODUTOS*/
.containerProdutos {
    width: 80vw;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-top: 40px;
}
.containerProdutos .produtos {
    width: 100%;
}
.containerProdutos .produtos ul {
    width: 100%;
    display: flex;
    list-style: none;
    height: 250px;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 200px;
}
.containerProdutos .produtos ul li {
    width: 100%;
    display: contents;
}
.containerProdutos .produtos ul li a{
    height: 250px;
    width: 200px;
    text-decoration: none;    
}
.containerProdutos .produtos ul li a:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: 1s;
}
.containerProdutos .produtos ul li a img {
    height: 250px;
    width: 200px;
    border-radius: 9px 9px 9px 9px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border: 1px ridge #858380;
}
.containerProdutos .nomeProduto {
    color: #000000;
    font-family: fantasy;
    font-size: x-large;
}
.estrela {
    height: 25px;
    background-size: 100px;
    background-image: url(./Images/estrelinhas.png);
    width: 50%;
}
.preco {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 20px;
}
.frete {
    color: rgb(88, 255, 88);
}


                   /* FOOTER */

 .rodape {
     width: 100%;
     height: 170px;
    background-image: linear-gradient(to right,#D3D3D3, #1C1C1C);
     margin: 0;
     display: flex;
     justify-content: space-around;
 }       
 .social {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    right: 0;
    bottom: 0;
    margin-top: 10px;
    position: fixed;
    z-index: 999;
 }
 .rodape .sobreEmpresa ul {
     list-style: none;
 }
 .rodape .sobreEmpresa ul li a  {
    color: cornflowerblue;
    list-style: none;
    text-decoration: none;
    
 }
 .rodape .sobreEmpresa2 ul {
     list-style: none;
 }
 .rodape .sobreEmpresa2 ul li a {
     color: cornflowerblue;
     list-style: none;
     text-decoration: none;
 }
 .sobreEmpresa2 {
     margin-right: 100px;
     
 }
 .rodape li {
     margin-top: 8px;
 }